body{
    background: lightgreen;
}
.gifs-container{
    border: 1px solid black;
    background:lightsalmon;
    height: fit-content;
    clear: both;
}
#gifTitle{

    background: lightgreen;
    text-decoration: underline;
}

.input-container{
    float: right;
    margin-right: 1rem;;
}

.pageTitle{
   background: lightskyblue;
    border-bottom: 1px solid black;
}

.search-button{
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;;
}


.gif-img{
    box-shadow: 3px 3px black;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    float: left;
}

@media screen and(min-width:375px){
    .pageTitle{
        width: 100%;
    }
}